[build]
  command = "npm run build"
  publish = "dist"
  functions = "f"

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

[[redirects]]
  from = "/admin"
  to = "/admin/"
  status = 301
  force = true

[[redirects]]
  from = "/staff/*"
  to = "/staff/index.html"
  status = 200

[[redirects]]
  from = "/staff"
  to = "/staff/"
  status = 301
  force = true

[[redirects]]
  from = "/f/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
